{% block preview_widget %}
    {{ form_rest(form) }}
    {% if value is null or value == '' %}
        Geen foto beschikbaar
    {% else %}
        <img src="{{ value | imagine_filter('preview_thumb') }} "/>
    {% endif %}
{% endblock preview_widget %}