{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set referencePath %}{% path object.image, 'reference' %}{% endset %}
    {% if referencePath %}
    <img class="img-responsive img-rounded" src="{{ referencePath | imagine_filter('medium_thumb') }}" />
    {% else %}
        <span>no picture</span>
    {% endif %}
{% endblock %}